main {
    margin-top: 7px;
}

.noticias img {
    width: 360px;
    height: auto;
}

.banner {
    background-color: cornflowerblue;
    border-radius: 3%;
    margin: 5px 15px 15px 25px;
    
}

.barra {
    display: flex;
    justify-content: flex-end;
}